<!--
SPDX-FileCopyrightText: 2019 John Irle

SPDX-License-Identifier: MIT
-->

<!DOCTYPE html>
<html>
   <head>
        <title>Request Header Parser</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                Request Header Parser
            </h1>

            <h3>Example usage:</h3>
            <code>localhost:5000/api/whoami</code>
            <h3>Example output:</h3>
            <code>
                { <br>
                  "ipaddress": "88.888.888.88",<br>
                  "language": "en-US",<br>
                  "software": "Macintosh; Intel Mac OS X 10_12_6"<br>
                }
            </code>
        </div>
    </body>
</html>
